<div class="mb50">
    <h2 class="panelTitle title">
        <span class="double">
            SHOP ALM
        </span>
    </h2>
    <div class="flexContainer m20">
        <div style="display: inline-flex;">
            <img src="./assets/img/tee.png" alt="HATE IS THE REAL VIRUS TEE" class="tee clickable" (click)="openLink()"> 
            <p class="teeDescribe">
               <span class="clickable" (click)="openLink()">Official Hate Is The Real Virus Tee <br/> <span style="padding-top: 5px;">$24.99</span> </span> 
            </p>
            
        </div>
    </div>
    <p class="btn-right">
        <a class="btn-highlight" href="https://my-store-11686238.preview.teespring.com/" target="_blank">SHOP ALL</a>
    </p>
</div>