<div class="mb50">
    <h2 class="panelTitle title">
        <span class="double">
            Donate Today
        </span>
    </h2>

    <p>
        We appreciate your support of the movement and our ongoing fight to end anti-Asian violence. Funds will be use
        to buy self defence equipment(pepper spray/personal safety alarm) and give to anyone who needs it, prioritized to elderly people and women.
        <br /><strong>Together, we can stop it.</strong>
    </p>

    <p class="btn-right">
        <a class="btn-highlight" href="https://www.buymeacoffee.com/supportalm" target="_blank">Donate</a>
    </p>
</div>

<div class="mb50">
    <h2 class="panelTitle title">
        <span class="double">
            Follow ALM
        </span>
    </h2>

    <div>
        <a href="https://www.instagram.com/asianlivesmatters2/" target="blank">
            <fa-icon [icon]="faInstagram" class="fa-icon x4 mr40 insColor change-font-color"></fa-icon>
        </a>
        <a href="https://www.twitter.com/alivesmatter2/" target="blank">
            <fa-icon [icon]="faTwitter" class="fa-icon x4 twitterColor change-font-color"></fa-icon>
        </a>
    </div>
</div>