<div>
    <h2 class="panelTitle title">
        <span class="double">
            Follow ALM
        </span>
    </h2>

    <div>
        <a href="https://www.instagram.com/asianlivesmatters2/" target="blank">
            <fa-icon [icon]="faInstagram" class="fa-icon x4 mr40 insColor change-font-color"></fa-icon>
        </a>
        <a href="https://www.twitter.com/alivesmatter2/" target="blank">
            <fa-icon [icon]="faTwitter" class="fa-icon x4 twitterColor change-font-color"></fa-icon>
        </a>
    </div>
</div>