<main>
    <!-- <event-timeline></event-timeline> -->

    <div class="flexContainer m20">
        <div class="flexCol1">
            <h2 class="panelTitle">NYC Stop Asian Hate Rally</h2>
            <div class="eventDate">
                Sunday April 4, 2021
            </div>
            <app-event-timeline></app-event-timeline>
            <app-img-carousel></app-img-carousel>
        </div>
        <div class="flexCol2 colPadding">
            <app-follow-alm></app-follow-alm>
            <app-quotes></app-quotes>
            <!-- <app-shop-alm></app-shop-alm> -->
        </div>
    </div>

</main>