<mat-sidenav-container>
	<mat-sidenav #sidenav mode="over">
		<label>#STOP ASIAN HATE</label>
		<hr />
		<nav>
			<!-- <a routerLink="" (click)="clickHandler()" routerLinkActive="active">Home</a> -->
			<!-- <a routerLink="about" (click)="clickHandler()" routerLinkActive="active">About</a>
			<a routerLink="contact" (click)="clickHandler()" routerLinkActive="active">Contact</a> -->
			<a href="https://www.instagram.com/asianlivesmatters2/" target="blank">
				<fa-icon [icon]="faInstagram" class="fa-icon"></fa-icon>
			</a>
			<a href="https://www.twitter.com/alivesmatter2/" target="blank">
				<fa-icon [icon]="faTwitter" class="fa-icon"></fa-icon>
			</a>
			<p class="btn-right">
				<a class="btn-highlight" href="https://www.buymeacoffee.com/supportalm" target="_blank">Donate</a>
			</p>
		</nav>
	</mat-sidenav>

	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<header>
				<mat-icon (click)="sidenav.toggle()">menu</mat-icon>
				<label routerLink="" class="clickable noOutline">#STOP ASIAN HATE</label>
				<nav class="nav-link">
					<!-- <a routerLink="" routerLinkActive="active">Home</a>
					<a routerLink="about" routerLinkActive="active">About</a>
					<a routerLink="contact" routerLinkActive="active">Contact</a> -->

					<a href="https://www.instagram.com/asianlivesmatters2/" target="blank">
						<fa-icon [icon]="faInstagram" class="fa-icon"></fa-icon>
					</a>
					<a href="https://www.twitter.com/alivesmatter2/" target="blank">
						<fa-icon [icon]="faTwitter" class="fa-icon"></fa-icon>
					</a>
					<p class="btn-right">
						<a class="btn-highlight" href="https://www.buymeacoffee.com/supportalm" target="_blank">Donate</a>
					</p>
				</nav>
			</header>
		</mat-toolbar>
		<!-- <section class="contentWrapper"> -->
		<section style="min-height:75%">
			<section class="content">
				<router-outlet></router-outlet>
			</section>

		</section>
		<footer class="footer">
			<div class="x3">Asian Lives Matter Too</div>
			<div>
				<a href="https://www.instagram.com/asianlivesmatters2/" target="blank">
					<fa-icon [icon]="faInstagram" class="fa-icon x3 mr40 insColor change-font-color"></fa-icon>
				</a>
				<a href="https://www.twitter.com/alivesmatter2/" target="blank">
					<fa-icon [icon]="faTwitter" class="fa-icon x3 twitterColor change-font-color"></fa-icon>
				</a>
			</div>
		</footer>
	</mat-sidenav-content>
</mat-sidenav-container>