.section-wrapper {
    overflow: hidden;
}

.event-schedule-timeline {
    position: relative;
}

.event-schedule-timeline::after {
    content: "";
    width: 4px;
    height: 100%;
    background-color: #151516;
    position: absolute;
    top: 0;
    left: 50%;
}

.event-schedule-item {
    width: 100%;
    overflow: hidden;
    margin: 5px 0 5px;
}

.event-schedule-timeline .event-schedule-item:first-child {
    margin-top: 10px;
}

.event-schedule-item .esc-item {
    width: 50%;
    position: relative;
}

.event-schedule-item .right {
    float: right;
}

.esc-item.right::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid #151516;
    background-color: #fff;
    z-index: 1;
}

.esc-item.right .esc-item-content {
    margin-left: 55px;
    border-radius: 5px;
}

.event-schedule-item .section-content-inner {
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
    border-bottom: #151516 solid 3px;
    -webkit-box-shadow: 0px 5px 10px 0px #80808094;
    box-shadow: 0px 5px 10px 0px #80808094;
}

.event-schedule-item .section-content h4 {
    color: #000;
    font-size: 20px;
    margin: 10px 0;
}

.event-schedule-item .section-content p {
    color: #666666;
    font-size: 16px;
}

.esc-item.right .section-time p::after {
    content: "";
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #ff0033;
}

.event-schedule-item .section-content .figure_pck {
    margin-top: 15px;
}

.event-schedule-item .section-content .figure_pck figure {
    float: left;
}

.event-schedule-item .section-content .figure_pck figure img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 30px;
    object-fit: cover;
}

.event-schedule-item .section-content .figure_pck h3 {
    font-size: 20px;
    color: #151516;
    margin-top: 20px;
    display: inline-block;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.esc-item.right .section-time {
    position: absolute;
    left: -135px;
    top: 50%;
    transform: translateY(-50%);
}

.esc-item .section-time p {
    color: #fff;
    padding: 9px 11px;
    font-size: 14px;
    background-color: #151516;
    position: relative;
    margin-bottom: 0;
    border-radius: 3px;
}

.esc-item.right::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 12px;
    width: 30px;
    height: 5px;
    background-color: #151516;
    transform: translateY(-50%);
}


/*******Left Side Css*********/

.schedule-eight .left {
    float: left;
}

.esc-item.left::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid #151516;
    background-color: #fff;
    z-index: 9;
}

.esc-item.left::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 30px;
    height: 5px;
    background-color: #151516;
    transform: translateY(-50%);
}

.esc-item.left .esc-item-content {
    margin-right: 50px;
}

.esc-item.left .section-time {
    position: absolute;
    right: -135px;
    top: 50%;
    transform: translateY(-50%);
}

.esc-item.left .section-time p::after {
    content: "";
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 8px solid transparent;
    border-right: 8px solid #e70823;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
}