<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-wrapper">
                <div class="event-schedule-timeline">
                    
                    <div class="event-schedule-item"
                        *ngFor="let location of eventTimeline; index as i; let odd = odd; let even = even;">
                        <div class="esc-item" [ngClass]="{ left: odd, right: even }">
                            <div class="esc-item-content">
                                <div class="section-content-inner">
                                    <div class="section-content">
                                        <a [href]="location.AddressLink" target="blank">
                                            <p>{{location.AddressTitle}}</p>
                                        </a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="section-time">
                                <p>{{location.Time}}</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>