<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-wrapper">
                <div class="event-schedule-timeline">
                    <div class="event-schedule-item">
                        <div class="esc-item right">
                            <div class="esc-item-content">
                                <div class="section-content-inner">
                                    <div class="section-content">
                                        <h4>SCIENTIFIC SESSIONS</h4>
                                        <p>TTPHIL- ALL TILT™ Protocol: The Quick Six Fix Solution</p>
                                        <div class="figure_pck">
                                            <figure>
                                                <img src="images/ratna-90x90.png" alt="Speaker">
                                            </figure>
                                            <h3>Dr. P. Venkat Nag</h3>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="section-time">
                                <p>09.00 am</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="esc-item left">
                            <div class="esc-item-content">
                                <div class="section-content-inner">
                                    <div class="section-content">
                                        <h4>SCIENTIFIC SESSION</h4>
                                        <p>Botox Filler &amp; PRF (Platelet Rich Fibrin) In Dentistry</p>
                                        <div class="figure_pck">
                                            <figure>
                                                <img src="images/harleen-blog.jpg" alt="Speaker">
                                            </figure>
                                            <h3>Dr. Harleen Oberoi</h3>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="section-time">
                                <p>10.00 am</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="esc-item right">
                            <div class="esc-item-content">
                                <div class="section-content-inner">
                                    <div class="section-content">
                                        <h4>SCIENTIFIC SESSION</h4>
                                        <p>Fundamentals Of Khoury Technique</p>
                                        <div class="figure_pck">
                                            <figure>
                                                <img src="images/komal-90x90.jpg" alt="Speaker">
                                            </figure>
                                            <h3>Dr. Komal Majumdar</h3>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="section-time">
                                <p>10:45 am</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="esc-item left">
                            <div class="esc-item-content">
                                <div class="section-content-inner">
                                    <div class="section-content">
                                        <h4>SCIENTIFIC SESSION</h4>
                                        <p>Dental Laser Myth Vs Realities</p>
                                        <div class="figure_pck">
                                            <figure>
                                                <img src="images/vipul_circle-90x90.jpg" alt="Speaker">
                                            </figure>
                                            <h3>Dr. Vipul Srivastava</h3>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="section-time">
                                <p>11:30 am</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="esc-item right">
                            <div class="esc-item-content">
                                <div class="section-content-inner">
                                    <div class="section-content">
                                        <h4>LIVE PROCEDURE</h4>
                                        <p>Porcelain Veneers : The Longest Lasting Restoration In Human Mouth</p>
                                        <div class="figure_pck">
                                            <figure>
                                                <img src="images/rajiv-90x90.jpg" alt="Speaker">
                                            </figure>
                                            <h3>Dr. Rajiv Verma</h3>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="section-time">
                                <p>12:15 pm</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="esc-item left">
                            <div class="esc-item-content">
                                <div class="section-content-inner">
                                    <div class="section-content">
                                        <h4>LUNCH</h4>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="section-time">
                                <p>01.00 pm</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="esc-item right">
                            <div class="esc-item-content">
                                <div class="section-content-inner">
                                    <div class="section-content">
                                        <h4>POWER OF 10</h4>
                                        <p>Smile Journey - Walk The Talk</p>
                                        <div class="figure_pck">
                                            <figure>
                                                <img src="images/sandesh-mayekar-90x90.jpg" alt="Speaker">
                                            </figure>
                                            <h3>Dr. Sandesh Mayekar</h3>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="section-time">
                                <p>02.00 pm</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="esc-item left">
                            <div class="esc-item-content">
                                <div class="section-content-inner">
                                    <div class="section-content">
                                        <h4>SCIENTIFIC SESSION</h4>
                                        <p>Innovation: Clinical &amp; Beyond</p>
                                        <div class="figure_pck">
                                            <figure>
                                                <img src="images/Dr-Ashish-Jain-90x90.jpg" alt="Speaker">
                                            </figure>
                                            <h3>Dr. Ashish Jain</h3>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="section-time">
                                <p>03.00 pm</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="esc-item right">
                            <div class="esc-item-content">
                                <div class="section-content-inner">
                                    <div class="section-content">
                                        <h4>SCIENTIFIC SESSIONS</h4>
                                        <p>Embrace Exciting Transition From Elective Laser Dentistry To Essential Laser
                                            Practice</p>
                                        <div class="figure_pck">
                                            <figure>
                                                <img src="images/ddr-90x90.png" alt="Speaker">
                                            </figure>
                                            <h3>Dr. Jaison Valiakulangara</h3>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="section-time">
                                <p>03.45 pm</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="esc-item left">
                            <div class="esc-item-content">
                                <div class="section-content-inner">
                                    <div class="section-content">
                                        <h4>LIVE PROCEDURE</h4>
                                        <p>Direct And Indirect Restorative Master Class With Bioactive Materials</p>
                                        <div class="figure_pck">
                                            <figure>
                                                <img src="images/milind-90x90.jpg" alt="Speaker">
                                            </figure>
                                            <h3>Dr. Milind Karmarkar</h3>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="section-time">
                                <p>04:30 pm</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>